<!DOCTYPE html>
<!--Search component fragment-->
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="search-panel">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Book Title" aria-label="Book Title"
                aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>